<div
  id="filterDropdown"
  class="z-10 hidden w-56 p-3 bg-white rounded-lg shadow"
>
  <h6 class="mb-3 text-sm font-medium text-gray-900">Category</h6>
  <ul class="space-y-2 text-sm" aria-labelledby="filterDropdownButton">
    <li class="flex items-center">
      <input
        id="apple"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="apple" class="ml-2 text-sm font-medium text-gray-900"
        >Apple (56)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="fitbit"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="fitbit" class="ml-2 text-sm font-medium text-gray-900"
        >Fitbit (56)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="dell"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="dell" class="ml-2 text-sm font-medium text-gray-900"
        >Dell (56)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="asus"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="asus" class="ml-2 text-sm font-medium text-gray-900"
        >Asus (97)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="logitech"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="logitech" class="ml-2 text-sm font-medium text-gray-900"
        >Logitech (97)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="msi"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="msi" class="ml-2 text-sm font-medium text-gray-900"
        >MSI (97)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="bosch"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="bosch" class="ml-2 text-sm font-medium text-gray-900"
        >Bosch (176)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="sony"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="sony" class="ml-2 text-sm font-medium text-gray-900"
        >Sony (234)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="samsung"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="samsung" class="ml-2 text-sm font-medium text-gray-900"
        >Samsung (76)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="canon"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="canon" class="ml-2 text-sm font-medium text-gray-900"
        >Canon (49)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="microsoft"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="microsoft" class="ml-2 text-sm font-medium text-gray-900"
        >Microsoft (45)</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="razor"
        type="checkbox"
        value=""
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="razor" class="ml-2 text-sm font-medium text-gray-900"
        >Razor (49)</label
      >
    </li>
  </ul>
</div>
