<div
  id="filterDropdown"
  class="z-10 hidden w-56 p-3 bg-white rounded-lg shadow"
>
  <h6 class="mb-3 text-sm font-medium text-gray-900">Category</h6>
  <ul class="space-y-2 text-sm" aria-labelledby="filterDropdownButton">
    <li class="flex items-center">
      <input
        id="pc"
        type="checkbox"
        value="PC"
        [checked]="categories().includes('PC')"
        (change)="onChange($event)"
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="pc" class="ml-2 text-sm font-medium text-gray-900">PC</label>
    </li>
    <li class="flex items-center">
      <input
        id="phones"
        type="checkbox"
        value="Phones"
        [checked]="categories().includes('Phones')"
        (change)="onChange($event)"
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="phones" class="ml-2 text-sm font-medium text-gray-900"
        >Phones</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="gaming"
        type="checkbox"
        value="Gaming/Console"
        [checked]="categories().includes('Gaming/Console')"
        (change)="onChange($event)"
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="gaming" class="ml-2 text-sm font-medium text-gray-900"
        >Gaming/Console</label
      >
    </li>
    <li class="flex items-center">
      <input
        id="tv"
        type="checkbox"
        value="TV/Monitors"
        [checked]="categories().includes('TV/Monitors')"
        (change)="onChange($event)"
        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2"
      />
      <label for="tv" class="ml-2 text-sm font-medium text-gray-900"
        >TV/Monitors</label
      >
    </li>
  </ul>
</div>
