<div
  id="updateProductModal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow sm:p-5">
      <!-- Modal header -->
      <div
        class="flex justify-between items-center pb-4 mb-4 rounded-t border-b border-gray-400 sm:mb-5"
      >
        <h3 class="text-lg font-semibold text-gray-900">Update Product</h3>
        <button
          #closeModal
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
          data-modal-toggle="updateProductModal"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div>
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              [value]="product?.name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="Ex. Apple iMac 27&ldquo;"
              [class]="{
                'focus:ring-red-500': hasErrors('name', 'required'),
                'focus:border-red-500': hasErrors('name', 'required'),
                'text-red-500': hasErrors('name', 'required')
              }"
              formControlName="name"
            />
            @if (hasErrors('name', 'required')) {
            <span class="text-red-500 text-sm">Product name is required</span>
            }
          </div>
          <div>
            <label
              for="brand"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Brand</label
            >
            <input
              type="text"
              name="brand"
              id="brand"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="Ex. Apple"
              formControlName="brand"
              [value]="product?.brand"
              [class]="{
                'focus:ring-red-500': hasErrors('brand', 'required'),
                'focus:border-red-500': hasErrors('brand', 'required'),
                'text-red-500': hasErrors('brand', 'required')
              }"
            />
            @if (hasErrors('brand', 'required')) {
            <span class="text-red-500 text-sm">Product brand is required</span>
            }
          </div>
          <div>
            <label
              for="price"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Price</label
            >
            <input
              type="number"
              name="price"
              id="price"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="$299"
              formControlName="price"
              [value]="product?.price"
              [class]="{
                'focus:ring-red-500':
                  hasErrors('price', 'required') || hasErrors('price', 'min'),
                'focus:border-red-500':
                  hasErrors('price', 'required') || hasErrors('price', 'min'),
                'text-red-500':
                  hasErrors('price', 'required') || hasErrors('price', 'min')
              }"
            />
            @if (hasErrors('price', 'required')) {
            <span class="text-red-500 text-sm">Product price is required</span>
            } @if (hasErrors('price', 'min')) {
            <span class="text-red-500 text-sm"
              >Product price must be greater than 0</span
            >
            }
          </div>
          <div>
            <label
              for="category"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Category</label
            ><select
              id="category"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
              formControlName="category"
              [value]="product?.category"
            >
              <option [defaultSelected]="true">Select category</option>
              <option value="TV/Monitors">TV/Monitors</option>
              <option value="PC">PC</option>
              <option value="Gaming/Console">Gaming/Console</option>
              <option value="Phones">Phones</option>
            </select>
          </div>
          <div class="sm:col-span-2">
            <label
              for="description"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Description</label
            ><textarea
              id="description"
              rows="5"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
              placeholder="Write a description..."
              formControlName="description"
              [class]="{
                'focus:ring-red-500':
                  hasErrors('description', 'required') ||
                  hasErrors('description', 'minlength'),
                'focus:border-red-500':
                  hasErrors('description', 'required') ||
                  hasErrors('description', 'minlength'),
                'text-red-500':
                  hasErrors('description', 'required') ||
                  hasErrors('description', 'minlength')
              }"
              >{{ product?.description }}</textarea
            >
            @if (hasErrors('description', 'required')) {
            <span class="text-red-500 text-sm"
              >Product description is required</span
            >
            } @if (hasErrors('description', 'minlength')) {
            <span class="text-red-500 text-sm"
              >Product description must have at least 25 characters</span
            >
            }
          </div>
        </div>
        <div class="flex items-center space-x-4">
          <button
            type="submit"
            class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Update product
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
